.header {
  background:  var(--themeBackground);
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
  font-size: 20px;
  height: 64px;
  padding:  0 14px 0 22px; 
}
.trigger {
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}
.trigger:hover {
  background: #fbfbfb;
}

.global {
    height: 64px;
    width: 40px;
    line-height: 64px;
    display: block;
}
.global:hover {
  background: #fbfbfb;
}
