.header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  background:  var(--themeBackground);
}
.trigger {
  height: 64px;
  padding: 22px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}
.trigger:hover {
  background: #fbfbfb;
}

.global {
    height: 64px;
    width: 40px;
    line-height: 64px;
    display: block;
}
.global:hover {
  background: #fbfbfb;
}
