html,
body,
#root {
  height: 100%;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
}

:root {
  --pageHeight: 100vh;
  --themeBackground: #fff;
  --errorPageColor: #84d49e;
}


.container {
  min-height: var(--pageHeight);
}
